header {
  padding: 20px;
  position: relative;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  background: white;

  nav {
    display: flex;
    justify-content: center;

    .logo_site {
      width: 162px;
    }
  }
}
