@media (min-width: 576px) {
  .container {
    h1 {
      position: absolute;
      left: 853px;
      top: 430px;
    }
  }

  .fonctionnement {
    h2 {
      position: relative;
      left: 130px;
    }
    .block-fonction {
      display: flex;
      box-shadow: none;
      border-radius: 0px;
      padding: 0px;
      background: white;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }
  }
  .fonctionnement .bouton-fonction {
    width: 21%;
  }
  .restaurants {
    .centre .container-resto {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      flex-wrap: wrap;
      flex-direction: row;
      gap: 20px;
    }
  }

  .restaurants .centre .container-resto .resto_link {
    width: 48%;
  }
  footer {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding: 50px 0px 0px 20px;
    h2 {
      display: flex;
      position: absolute;
      right: 20px;
    }

    a {
      position: relative;
      left: 240px;
      margin: 10px;
    }
  }

  //partie media page//

  .body-menu1 .img-menu1 img {
    object-fit: cover;
  }
  .body-menu1 .menu {
    width: 60%;
    margin: auto;
    margin-top: -50px;
  }
  .body-menu1 .menu .container-menu {
    width: 60%;
    margin: auto;
  }
  .body-menu1 .menu h1 {
    gap: 130px;
    display: flex;
    justify-content: center;
  }
  .body-menu1 .menu h1 span {
    margin-right: 50px;
  }

  //parti responsive du coeur//
  .fa-heart {
    background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
    color: transparent;
    -webkit-background-clip: text;
  }
  .animation-icones {
    height: 55px;
    right: 20px;
    bottom: 10px;
  }

  //animation des coeurs des pages//
  .animation-icones-page {
    height: 55px;
    right: 20px;
    bottom: 10px;

    .fa-heart {
      background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
      color: transparent;
      -webkit-background-clip: text;
    }
    .animation-icones {
      height: 55px;
      right: 20px;
      bottom: 10px;
    }
    .heart-vide {
      position: absolute;
      right: 100px;
      top: 30px;
      background: black;
      -webkit-background-clip: text;
      font-size: 24px;
    }

    .heart-rempli {
      position: absolute;
      opacity: 0;
      right: 100px;
      top: 30px;
      background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
      color: transparent;
      -webkit-background-clip: text;
      transition: all 800ms;
      font-size: 24px;
    }

    .heart-rempli:hover {
      opacity: 1;
      transition: all 800ms;
    }
  }
  .heart-vide {
    position: absolute;
    right: 20px;
    top: 16px;
    background: black;
    -webkit-background-clip: text;
    font-size: 24px;
  }

  .heart-rempli {
    position: absolute;
    opacity: 0;
    right: 20px;
    top: 16px;
    background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
    color: transparent;
    -webkit-background-clip: text;
    transition: all 800ms;
    font-size: 24px;
  }

  .heart-rempli:hover {
    opacity: 1;
    transition: all 800ms;
  }
}
