@media (min-width: 500px) {
  .fonctionnement {
    .block-fonction {
      display: flex;
      box-shadow: none;
      border-radius: 0px;
      padding: 0px;
      background: white;
      justify-content: space-evenly;
    }
  }

  .restaurants {
    .centre .container-resto {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      flex-wrap: wrap;
      flex-direction: row;
      gap: 20px;
    }
  }

  .restaurants .centre .container-resto .resto_link {
    width: 48%;
  }
  footer {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding: 50px 0px 0px 20px;
    h2 {
      display: flex;
      position: absolute;
      right: 20px;
    }

    a {
      position: relative;
      left: 150px;
      margin: 10px;
    }
  }

  //partie media page//

  .body-menu1 .img-menu1 img {
    object-fit: cover;
  }
  .body-menu1 .menu {
    width: 70%;
    margin-left: 180px;
  }
  .body-menu1 .menu h1 {
    display: flex;
    justify-content: space-around;
  }
  .body-menu1 .menu h1 span {
    position: absolute;
    right: 300px;
  }
}
