.bouton {
  background: linear-gradient(#ff79da, #9356dc);
  border-radius: 30px;
  padding: 0px 50px;
  color: white;
  border-style: none;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  width: 218px;
  height: 50px;
  justify-content: center;
  margin: auto;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  &:hover {
    opacity: 90%;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.25);
  }
}

//animation des coeur//
.fa-heart {
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  color: transparent;
  -webkit-background-clip: text;
}
.animation-icones {
  height: 55px;
  right: 20px;
  bottom: 10px;
}
.heart-vide {
  position: absolute;
  right: 20px;
  top: 20px;
  background: black;
  -webkit-background-clip: text;
}

.heart-rempli {
  position: absolute;
  opacity: 0;
  right: 20px;
  top: 20px;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  color: transparent;
  -webkit-background-clip: text;
}

.heart-rempli:hover {
  opacity: 1;
}

//animation des menus de la page//

@keyframes bouton-menu {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.block-menu {
  animation: bouton-menu 2s;
  opacity: 1;
}

.block-menu:nth-child(2) {
  animation-name: bouton-menu;

  animation-duration: 1000ms;
  opacity: 1;
}

//animation du loader//

.container {
  width: 100%;
  position: fixed;
  height: 100%;
  z-index: 1;
  background: black;
  display: none;
}

.progress {
  width: 100%;
  height: 100%;
  &__bar {
    animation: progress-bar 1000ms;
  }
}

@keyframes progress-bar {
  0% {
    transform: scaleX(0);
    opacity: 0.1;
  }
  17% {
    transform: scaleX(0.18);
  }
  24% {
    transform: scaleX(0.4);
  }
  46% {
    transform: scaleX(0.81);
  }
  85%,
  100% {
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
  }
}
