.bouton {
  background: linear-gradient(#ff79da, #9356dc);
  border-radius: 30px;
  padding: 0px 50px;
  color: white;
  border-style: none;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  width: 218px;
  height: 50px;
  justify-content: center;
  margin: auto;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  &:hover {
    opacity: 90%;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.25);
  }
}

.animation-icones {
  height: 55px;
  right: 20px;
  bottom: 10px;
}
.heart-vide {
  position: absolute;
  right: 20px;
  top: 20px;
}

.heart-rempli {
  position: absolute;
  opacity: 0;
  right: 20px;
  top: 20px;
  color: #9356DC#FF79DA;
  transition: all;
}

.heart-rempli:hover {
  opacity: 1;
}
