.bouton {
  background: linear-gradient(#ff79da, #9356dc);
  border-radius: 30px;

  color: white;
  border-style: none;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  width: 218px;
  height: 50px;
  justify-content: center;
  margin: auto;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  margin-top: 20px;
  margin-bottom: 20px;
  &:hover {
    opacity: 90%;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.25);
  }
}

//animation des coeur//
.fa-heart {
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  color: transparent;
  -webkit-background-clip: text;
}
.animation-icones {
  height: 55px;
  right: 20px;
  bottom: 10px;
}
.heart-vide {
  position: absolute;
  right: 20px;
  top: 20px;
  background: black;
  -webkit-background-clip: text;
}

.heart-rempli {
  position: absolute;
  opacity: 0;
  right: 20px;
  top: 20px;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  color: transparent;
  -webkit-background-clip: text;
  transition: all 800ms;
}

.heart-rempli:hover {
  opacity: 1;
  transition: all 800ms;
}
//animation des menus de la page//

@keyframes bouton-menu {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.anim-menu-1 {
  animation: bouton-menu 2s;
  opacity: 1;
  transition: 500ms;
  animation-duration: 1000ms;
}

.anim-menu-2 {
  animation: bouton-menu 3s;
  transition: 1000ms;
  animation-duration: 2000ms;
  opacity: 1;
}

.anim-menu-3 {
  animation: bouton-menu 4s;
  transition: 1000ms;
  animation-duration: 3000ms;
  opacity: 1;
}

.anim-menu-4 {
  animation: bouton-menu 5s;
  transition: 1000ms;
  animation-duration: 4000ms;
  opacity: 1;
}

.anim-menu-5 {
  animation: bouton-menu 6s;
  transition: 1000ms;
  animation-duration: 5000ms;
  opacity: 1;
}

.anim-menu-6 {
  animation: bouton-menu 7s;
  transition: 1000ms;
  animation-duration: 6000ms;
  opacity: 1;
}

.anim-menu-7 {
  animation: bouton-menu 8s;
  transition: 1000ms;
  animation-duration: 7000ms;
  opacity: 1;
}

.anim-menu-8 {
  animation: bouton-menu 9s;
  transition: 1000ms;
  animation-duration: 8000ms;
  opacity: 1;
}

.anim-menu-9 {
  animation: bouton-menu 10s;
  transition: 1000ms;
  animation-duration: 9000ms;
  opacity: 1;
}

.anim-menu-10 {
  animation: bouton-menu 11s;
  transition: 1000ms;
  animation-duration: 10000ms;
  opacity: 1;
}

//animation du loader//

.container {
  width: 100%;
  position: fixed;
  height: 100%;
  z-index: 1;
  background: white;
  // display: none;

  h1 {
    position: absolute;
    left: 853px;
    top: 430px;
  }
}

.loader {
  position: relative;
  margin: 0 auto;
  width: $width;
  &:before {
    content: "";
    display: block;
    padding-top: 100%;
  }
}

.circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 300px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@keyframes color {
  100%,
  0% {
    stroke: $red;
  }
  40% {
    stroke: $blue;
  }
  66% {
    stroke: $green;
  }
  80%,
  90% {
    stroke: $yellow;
  }
}

// demo-specific

.showbox {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5%;
}

.loader_container {
  animation: loader 3s forwards;
}

@keyframes loader {
  0% {
    opacity: 1;
    visibility: inherit;
  }
  90% {
    opacity: 1;
    visibility: inherit;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
