

.barre_recherche{
    display: flex;
    justify-content: center;
    background: #EAEAEA;;
    padding: 20px 0; 
    


    #recherche{
        background: transparent;
        border: 0;
        text-align: center;
    }


}